// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-bar-container{
  text-align: center;
}

.search-bar{
  width: 30%;
  height: 40px;
  vertical-align:top;
}

.search-bar-submit{
  height: 40px;
  width: 40px;
  vertical-align:top;
}

.search-bar-submit-image{
  font-size: 20px;
  padding-top: 5px;
}
