// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-bar-container{
  text-align: center;
}

.search-bar{
  width: 30%;
  height: 40px;
  padding: 0px;
  vertical-align:top;
  font-size: 18px;

}

.search-bar-submit{
  height: 40px;
  width: 40px;
  vertical-align:top;
  background-color: #7692FF;
  color: white;
}

.search-bar-submit-image{
  font-size: 20px;
  padding-top: 5px;
  font-weight: bold;
}

.events-container{
  margin-top: 10px;
  border-color: #d1d3d6;
  border-style: solid;
  border-width: 0.25px 0.25px 0.25px 0.25px;
  background-color: white;
}

.event-listing-container{
  border-bottom: 1px solid #d1d3d6;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover{
    transform: scale(1.01);
    background-color: white;
    border-color: #d1d3d6;
    border-style: solid;
    border-width: 0.25px 0.25px 0.25px 0.25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.event-listing-container-link{
  &:hover{
    color: black;
    text-decoration: none;
  }
}

.event-listing-date-container{
  display: table-cell;
  border-right: 1px solid #d1d3d6;
  padding: 20px;
  padding-top: 25px;
  width: 100px;
  text-align: center;
}

.event-listing-info-container{
  display: table-cell;
  padding-left: 10px;
  vertical-align: top;
  padding-top: 25px;
  padding-bottom: 25px;
}

.event-listing-day-word{
  color: #1B2CC1;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 3px;
}

.event-listing-title{
  font-size: 16px;
}


.event-image{
  width: 100%;
}

.event-image-trim{
  max-height: 320px;
  overflow: hidden;
}

.events-container-info{
  padding: 20px;
}

.event-title{
  font-size: 20px;
  font-weight: bold;
  color: black;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 2px;
  border-radius: 3px;
  padding: 10px;
}

.event-title .back{
  background: black;
}

.event-current-price-title{
  color: black;
  font-size: 35px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 50px;
  text-decoration: underline;
}

.event-alert-image{
  text-align: center;
  font-size: 100px;
}


.overflow-scroll{
  overflow: scroll;
}

.event-information{
  color: black;
  padding: 4px;
}

.event-current-price-amount{
  color: black;
  font-size: 60px;
}

.blue{
  background: white;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

.block-3{
  height: 540px;
  margin: 5px;
}

.block-2{
  height: 360px;
  margin: 5px;
}

.block-1{
  height: 180px;
  margin: 5px;
}

.block-1-1{
  height: 170px;
  margin: 5px;
}

.flip-div{
  height: 100% !important;
}

.flip-div-back{
  height: 100% !important;
  top: 0;
  left: 0; 
}

.event-watch-field-container{
  border-bottom: 1px solid #d1d3d6;
  margin-right: 20%;
  margin-left: 20%;
  font-size: 14px;
}


















