@import "bootstrap-sprockets";
@import "bootstrap";

.application-body{
  margin: 0;
  background-color: #e9ebee;
  /* #f6f8f9 */
}

.navbar-color{
  background-color: #091540;
}

.nmnp{
  margin: 0px;
  padding: 0px;
}

.no-pad{
  padding: 0px;
}