@import "bootstrap-sprockets";
@import "bootstrap";

.application-body{
  margin: 0;
  background-color: #e9ebee;
  /* #f6f8f9 */
}

.navbar-color{
  background-color: #091540;
}

.navbar-right-container{
  float: right;
}

.nmnp{
  margin: 0px;
  padding: 0px;
}

.no-pad{
  padding: 0px;
}

.inline-block{
  display: inline;
}

.align-center{
  text-align: center;
}

.display-none{
  display: none;
}

.display-block{
  display: block;
}

.overflow-auto{
  overflow: auto;
}

.fill-parent{
  height: 100%;
}

.relative{
  position: relative !important;
}

.absolute{
  position: absolute !important;
}